body {
    background-color:#2f873c;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.Contacto{
    background-image: url(../IMG/parque.jpg);
    font-size: 14px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
  .carousel-inner > .carousel-item   > img {
    width:640px;
    height:640px;
  }
.ColorCh1{
    color: #2c3e50;
}
h1{
    text-align: center;
    color: rgb(82, 178, 178);
}
h2{
    text-align: center;
    color: rgb(1, 4, 2);
    margin-top: auto;
}
.Puyehue {
    color: #f56403fe;
}
.Pumalin {
    color: #03f5b4fe;
}
h3{
    text-align: center;
    color: rgb(7, 13, 10);
    margin-top: auto;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
.headerI{
    background-color:#35af64;
    
  }
.HeaderC{
    background-color: #228b22;
    text-align: center;
}
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
button{
    width: 100px;
    border: none;
    outline: none;
}
#carouselExampleControls {
    max-width: 600px; 
    margin: 0 auto; 
}
article {
    text-align: center; 
    margin: 20px auto; 
} 
html{
    height: 100%;
}

nav{
    background:#fff;
}

a{
    color: black;
}

.container{
    width: 80%;
    margin: 40px auto;
}

.container2 {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
 }
.menu-contacto{
    background: green;
    display: flex;
}

.menu-izquierdo{
    flex-basis: 65%;
    padding: 40px 55px;
}

.menu-derecho{
    flex-basis: 35%;
    padding: 40px;
    background: #0b6730;
    color: #fff;
}

.container h6{
    margin-bottom: 30px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: 1px solid black;
    outline: 1px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 2px solid;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

tr td:first-child{
    padding-right: 35px;
}

tr td{
    padding-top: 25px;
}

 .main {
  padding-left: 35px;
  display: flex;
}
